{% extends "BlogBundle::base.html.twig" %}

{% set hideSidebar = true %}

{% block pageTitle %}Nie znaleziono zasobu{% endblock %}

{% block contentTitle %}Nie znaleziono zasobu{% endblock %}

{% block content %}
        <div class="error-page">
             <img src="{{ asset('bundles/blog/img/error404.png')}}" alt="error404">
        </div>
{% endblock %}