{% extends "BlogBundle::base.html.twig" %}

{% set hideSidebar  = true %}
{% set hideSearch  = true %}

{% block pagetitle %}Zaloguj się lub zarejestruj{% endblock %}

{% block contentTitle %}Logowanie i rejestracja{% endblock %}

{% block content %}
    
    {% if error %}
        <div class="notification error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <div class="login-register two-cols">
                        <div class="col col-bdr">

                            <h2 class="strong">Logowanie</h2>

                            <form class="login-form" action="{{ path('login') }}" method="post">
                                
                                <div class="form-row">
                                    <label for="username" class="required">Login</label>
                                    <input id="username" type="text" name="_username" value="{{ last_username }}">
                                </div>

                                <div class="form-row">
                                    <label for="password" class="required">Hasło</label>
                                    <input id="password" type="password" name="_password">
                                </div>

                                <label for="remember_me" class="checkbox remember">
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked > Zapamiętaj mnie
                                </label>

                                <button type="submit" class="btn-green submit">Zaloguj</button>
                            </form>

                           

                        </div>

                        <div class="col">

                     
                            </form>
                        </div>
                    </div>
    
    
{% endblock %}