{% extends "BlogBundle::base.html.twig" %}

{% set hideSidebar  = true %}
{% set hideSearch  = true %}

{% block pagetitle %}Zaloguj się lub zarejestruj{% endblock %}

{% block contentTitle %}Logowanie i rejestracja{% endblock %}

{% block content %}
    
    <div class="login-register two-cols">
        <div class="col col-bdr"> 
        </div>
        <div class="col">
            {{ form(registerForm) }}
        </div>
    </div>
    
{% endblock %}