
    
<ul>
        {% for name,route in mainMenu %}
        {% if app.request.get('_route') == route %}
            <li  class="active">
        {% else %}
            <li>
        {% endif %}
            <a href="{{ path(route)}}">
                {{ name }}
            </a>
        </li>
        {% endfor %}
        
        {% if is_granted('ROLE_ADMIN')  %}
                <a href="{{ path('admin_dashboard')}}">
                ADMIN
                </a>
        {% endif %}
</ul>